.projects-wrapper {
  border-top: 1px solid #1df7dd;
  padding: 3rem 0;
}
.projects-heading {
  color: #b9b9bb;
  text-align: center;
}
.projects-showcase {
  display: flex;
  gap: 4%;
  flex-flow: wrap;
}

@media only screen and (max-width: 600px) {
  .projects-showcase {
    justify-content: center;
  }
}
