.tech-stack-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid #1df7dd;
  padding: 3rem 0;
}
.tech-stack-heading {
  color: #b9b9bb;
  text-align: center;
}
.tech-stack-heading h4 {
  color: #f7df1e;
}
.tech-stack-logos {
  display: flex;
  margin-top: 2rem;
  flex-wrap: wrap;
  gap: 4rem;
  font-size: 4rem;
  color: white;
}
.tech-stack-logos i {
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .tech-stack-logos {
    justify-content: center;
    gap: 2rem;
    font-size: 3rem;
  }
}
