.navbar {
  display: flex;
  position: fixed;
  top: 0;
  z-index: 50;
  width: 100%;
  height: 75px;
  border-bottom: 1px solid #1df7dd;
  background-color: #03030b;
  align-items: center;
  justify-content: space-between;
}
.navbar-left {
  padding-left: 2rem;
}
.navbar-right {
  display: flex;
  gap: 1.5rem;
  padding-right: 2rem;
}

@media only screen and (max-width: 600px) {
  .navbar-left {
    padding-left: 0.5rem;
  }
  .navbar-right {
    padding-right: 0.5rem;
    gap: 0.5rem;
  }
}
