.detail-wrapper {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.detail-img-wrapper {
  width: 45%;
}
.detail-img-wrapper img {
  width: 100%;
}
.detail-right-side {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.detail-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.detail-right-side h2 {
  color: white;
}
.detail-icons {
  color: white;
  display: flex;
  font-size: 40px;
  gap: 1rem;
}
@media only screen and (max-width: 600px) {
  .detail-wrapper {
    padding: 2rem 0;
    height: 100%;
    flex-direction: column;
    overflow: auto;
    justify-content: center;
  }
  .detail-img-wrapper {
    width: 90%;
  }
  .detail-right-side {
    width: 90%;
  }
  .detail-icons {
    justify-content: center;
  }
}
