.about-me-wrapper {
  padding: 3rem 0;
}
.about-me-heading {
  color: #dd1df7;
  text-align: center;
}
.about-me {
  display: grid;
  gap: 2rem;
  padding: 0 4rem;
  margin-top: 1rem;
  grid-template-columns: 1fr 5fr;
}
.img-side {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  border: 3px solid #1df7dd;
  padding: 0;
}
.img-side img {
  border-radius: 1rem;
  width: 100%;
  height: 100%;
  vertical-align: bottom;
}

@media only screen and (max-width: 600px) {
  .about-me-wrapper {
    padding: 1rem 0;
  }
  .about-me {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0 2rem;
  }
  .img-side {
    width: 50%;
    align-self: center;
  }
}
